@media only screen and (min-width:991px){
.navbar {

position: relative;
  background-color: none !important;
}


.navbar-brand img {
  transition: transform 0.3s ease;
}

.navbar-brand img:hover {
  transform: scale(1.05);
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: #333 !important;
  padding: 8px 16px;
  transition: all 0.3s ease;
  border-radius: 4px;
    font-size: 25px;
   font-family: "Roboto Slab", serif;
   font-style: normal;
}

.navbar-nav .nav-link:hover
{
  cursor: pointer;
  color:#f3820c !important;
}


.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.shadow-sm {
    box-shadow: none !important;
    background: #ffffff !important;
}
.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1030;
}
.navbar-brand img{
width: 100%;
    height: 80px;
  object-fit: contain;
}


  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;

}
.top-header{
  display: none;
}
}
/* Hide default navbar in mobile */
@media (max-width: 991.98px) {
  .navbar {
    display: none !important;
  }
.top-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgba(136, 61, 207, 0.3);
}
  .top-bar {
    display: none; 
  }
  .main-header {
    padding: 15px;
    display: flex;
    align-items: center;
  }
  .ddview{
    display: none;
  }
  .nums{
    text-decoration: none;
    color:white; 
  
  }
  .main-header .logo img {
    height: 50px;
  }

  .main-header .burger-menu {
    font-size: 24px;
    cursor: pointer;
    color: #883DCF;
    margin-left: auto;
    align-items: end;
    justify-content: end;
   
;
  }


  .offcanvas-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background-color: #883DCF;
    color: #fff;
    z-index: 1002;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease;
  }

  .offcanvas-menu.active {
    right: 0;
  }

  .offcanvas-menu .close-btn {
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
    align-self: flex-end;
  }

  .offcanvas-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .offcanvas-menu ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
  }
  .navbar-brand img{
width: 100%;
    height: 80px;
  object-fit: contain;
}



}

  
