<div class="container ">
    <div class="row">
        <div class="col-lg-5 col-12">
            <img src="aboutusicon.png" alt="" class="icon1">
            <img src="aboutusimg.png" alt="" class="aboutusimg">
        </div>
        <div class="col-lg-7 col-12">
            <p class="aboutus-hd">About <span>Us</span></p>
            <p class="sub-para">"Empowering You to Showcase Your Products 
                with Confidence, Creativity, and Clarity."</p>
                <p class="sub-para2">At Show My Product, we believe every creation deserves
                a spotlight</p>

                <div class="about-aling">
            <div class="about-box">
                <div class="list-align">               
                 
                <p clas="list"><img src="aboutustick.png" alt="" class="tick"> Creative Presentation</p>
                <p clas="list"><img src="aboutustick.png" alt="" class="tick"> Marketing Ready Access</p>
                <p clas="list last"><img src="aboutustick.png" alt="" class="tick"> Affordable Excellence</p>
               
            </div>
                <div class="center-line"></div>
                <div>
                    <p class="number">6+</p>
                    <p>Trusted Partners</p>
                </div>
            </div>
            </div>
             <img src="aboutusicon.png" alt="" class="icon2">
        </div>
    </div>
</div>
