
<div class="landing-align">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-12">
          <div class="landing-texts">
                <p class=" text-1">Simplify Your Global Presence</p>
                       <p class=" text-2">TAKE OUR WEBSITE INTO WORLD WIDE</p>
           <div class="home-buttons">
            <button class="btn demo-btn" ><a href="">Demo</a></button>
            <a href="" class="leanmore"><i class="bi bi-caret-right-fill"></i> Learn More</a>
           </div>
            
          </div>
          
        </div>
        <div class="col-lg-6 col-12 img">
            <div class="image-container">
          
                  <img src="landingimg.png" alt="">
              
        
             
              </div>
        </div>
    </div>
</div>
    <img src="landingimg1.png" alt="" class="stylelogo">
     <img src="headericon.png" alt="" class="header-icon">
</div>