.image-container img{
    width: 80%;
}
.text-1{
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
font-size: 75px;
line-height: 1.2;
letter-spacing: 0.01em;
text-transform: capitalize;
color: #130032;
display: flex;
text-align: center;
    margin-bottom: 31px;
}
.text-2{
   font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-style: bold;

font-size: 24px;
line-height: 24px;
display: flex;
text-align: center;
justify-content: center;


color: #272727;


}
.landing-align{
     border-end-start-radius: 365px;
 background-color: white;
     position: relative;
     margin-top: 80px;
}
.landing-texts{
    margin-top: 170px;
}
.demo-btn a{
            background-color: #f3820c;
        color: #fff;
        height: 50px;
        font-size: 20px;
        text-decoration: none;
        border-radius: 32px;
        border: none;
        margin-top: 30px;
        text-align: center;
        padding: 11px 43px;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 600;
        font-style: bold;
   
   
}
.leanmore{
     font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-style: bold;
}
.home-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.home-buttons a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.stylelogo{
         position: absolute;
    bottom: 55px;
    left: 60px;
}
.background-color{
    background-color: #E9DDFF;
}
.header-icon{

      position: absolute;
    right: 10px;
    top: 11px;
    width: 9%;
}
@media only screen and (min-width:1000px) and (max-width: 1400px) {
    .text-1{
        font-size: 60px;
    }
    .landing-texts{
        margin-top: 111px;
    }
    .landing-align {
    border-end-start-radius: 293px;
    }
    .stylelogo{
        width: 15%;
        bottom: 32px;
    }
    .image-container{
        display: flex;
        justify-content: center;
    }
 
}
@media only screen and (min-width:600px) and (max-width:992px){
    .text-1{
        font-size: 52px;
    }
    .home-buttons{
        margin-top: 34px;
    }
    .landing-texts{
        margin-top: 80px;
        margin-bottom: 80px;
    
    }
    .landing-align {
    border-end-start-radius: 153px;
    }
    .stylelogo{
        width: 15%;
        bottom: 18px;
        left: 30px;
    }
    .image-container{
        display: flex;
        justify-content: center;
    }
    .img{
        display: none;
    }
                   
}
@media only screen and (max-width:600px){
    .text-1{
        font-size: 31px;
            margin-bottom: 36px;
    }
    .landing-texts{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .landing-align {
    border-end-start-radius: 100px;
    }
    .stylelogo{
        width: 20%;
        bottom: 10px;
        left: 20px;
    }
    .image-container{
        display: flex;
        justify-content: center;
    }
        .img{
        display: none;
    }
    .text-2{
        font-size: 17px;
        line-height: 0px;
    }
    .home-buttons{
            margin-top: 40px;
    }
    .home-buttons a{
        font-size: 16px;
    }
}