<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                
                <div class="ft-bblogo">
                    <a href="#landing"><img src="logo1.png" alt="bblogo" class="bblogo"></a>
                </div>
                <div class="ft-para">
                    <p >Butter Biscuit's digital menu brings you vibrant visuals and detailed descriptions for effortless browsing. Enjoy customizable options and easy online ordering for a seamless dining experience. </p>
                </div>

                
                
            </div>

            <div class="col-lg-4 col-12">
                <p class="ft-head">Quick Links</p>
                <div class="arrow">
                    <p class="footer-link"><i class="fas fa-arrow-right"></i ><a href="#home">- Home</a></p>
                    <p class="footer-link"><i class="fas fa-arrow-right"></i><a href="#whyus">-  Why Us</a></p>
                    <p ><i class="fas fa-arrow-right"></i><a href="#whoitsfor">- Who It's For</a></p>
                    <p ><i class="fas fa-arrow-right"></i><a href="#aboutus">- About Us</a></p>
                      <p><i class="fas fa-arrow-right"></i><a href="#ourpartner">- Our Partners</a></p>
                   
                  
                </div>


            </div>
            <div class="col-lg-4 col-12">
               <p class="ft-head">Contact Us</p>
                 <div class="footer-location gtinto">
                    <img src="ft-locationlogo.svg" alt="" class="ft-logo">
                    

                    <p>Plot No. 1, Door No. 51/21, KKR Homes, New Colony First Street, Adambakkam, Chennai – 600 088.</p>
                </div>
                <div class="footer-contact gtinto">
                    <a href="tel:8438433220"> <img src="ft-calllogo.svg" alt="Call Logo" class="ft-logo"></a>
                   
                    <p>
                       <a class="nums" href="tel:8438433220">8438-433-220</a>
                       
                    </p>
                </div>
                
         
                <div class="social-icon">
                    <a class="social-logo" href="https://www.facebook.com/evecaliber" target="_blank" rel="noopener noreferrer">
                        <img src="ft-fb.svg" alt="Facebook">
                    </a>
                    
                    
                    <a class="social-logo" href="https://www.instagram.com/evecaliber" target="_blank" rel="noopener noreferrer">
                        <img src="ft-insta.svg" alt="Instagram">
                    </a>
                    <a class="social-logo" href="https://wa.me/8438433220" target="_blank" rel="noopener noreferrer">
                        <img src="ft-whatsapp.svg" alt="WhatsApp">
                    </a>

             </div>

            </div>

            <div class="text-center">© Copyright 2025 -  <a href="https://evecaliber.com//" class="copyright" target="_blank">Evecaliber Private Limited</a> - All rights reserved</div>


        </div>
    </div>
</div>