.heading {
  color: #8E55ED;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 24px;
}
.card {
    background-color: transparent; 
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}
.card img {
    display: block;
    width: 100%;
    height: auto; 
    border-radius: 1rem; 
    object-fit: contain;
}
.card-body {
    text-align: center;
    padding: 0.5rem 0; 
}

  .heading{
        text-align: center;
    font-family: "Josefin Sans";
    
    font-weight: 700;
    font-size: 64px;
    color: #8E55ED;
    margin-top: 30px;
  }
  .who-cont{
        color: #8e55ed;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .sub-head{
    color: #ffb255;
    font-size: 29px;
    font-weight: 600;
    text-align: center;
  }
  .heading span{
    color: white;
    background-color: #8E55ED;
    border: 1px solid #8E55ED;
    padding: 0px 10px;
  }