<div class="container ">
    <div class="row justify-content-center align-items-center text-center">

      <h1 class="heading">Who It's <span>For</span></h1>

      <div class="col-6 col-lg-3 mb-4">
        <div class="card" >
          <img src="whoimg2.png" alt="Shop Owners" >
        </div>
        <div class="card-body">
          <p  class="sub-head">Shop Owners</p>
          <p class="who-cont">Revolutionize Your Store Operations</p>
        </div>
      </div>

      <div class="col-8 col-lg-4 mb-4">
        <div class="card" 
>
          <img src="whoimg1.png" alt="Businesses" >
        </div>
        <div class="card-body">
          <p class="sub-head">Businesses</p>
          <p class="who-cont">Empower Your Business with Seamless Digital Solutions</p>
        </div>
      </div>
  
      <div class="col-6 col-lg-3 mb-4">
        <div class="card">
          <img src="whoimg3.png" alt="Customers" >
        </div>
        <div class="card-body">
          <p class="sub-head">Customers</p>
          <p class="who-cont">Experience the Future of Shopping</p>
        </div>
      </div>
  
    </div>
  </div>