<div class="container why-us-container">
    <div class="row">
        <div class="col-12">
            <!-- <div>
                <p class="head1">Why <span>Us</span></p>
            </div>
            
            <div class="img-align">
                <img src="why-us-img.png" alt="Why Us Image" class="img-fluid">
            </div>
            <div class="contents">
                <p class="ctright1">Digital Menu</p>
                <p class="ctright2" >Instant Access</p>
                <p class="ctright3">Secure Notification</p>
                <p class="ctright4">User Friendly</p>
                <p class="ctright5">Order Notification</p>
                <p class="ctright6">Quick Ordering</p>
                </div>
           -->
                <p class="why-head">Why <span>Us</span></p>
        <div class="img-container">
            <img src="whyus.png" alt="">
        </div>
        <img src="whyusimg1.png" alt="" class="whyusimg1">
        <img src="whyusimg2.png" alt="" class="whyusimg2">
        </div>
    </div>
</div>
