<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="image-container">
            <img src="ourelegant.png" alt="" class="elegant-img">
            </div>

        </div>
        <div class="col-6 right-align">
            <p class="elegant-hd">Our Elegant <span>Solutions!</span> </p>
            <div class="row1">
                <div >
                    <div class="amoeba one"></div>
                    <div class="text1"><img src="elegantlogo.png" alt="" class="icon"><br>
                        <p class="cont">Smart Design</p></div>
                </div>
                <div>
                    <div class="amoeba1"></div>
                    <div class="text2"><img src="elegantlogo.png" alt="" class="icon"><br>
                        <p class="cont">Seamless Technology</p></div>
                </div>
            </div>
            <div>
            <div class="row2">
                 <div>
                    <div class="amoeba1"></div>
                    <div class="text3"><img src="elegantlogo.png" alt="" class="icon"><br>
                        <p class="cont">Client-Centric Approach</p></div>
                </div>

                
                 <div>
                    <div class="amoeba"></div>
                    <div class="text4"><img src="elegantlogo.png" alt="" class="icon"><br>
                        <p class="cont">End-End Services</p></div>
                </div>
                   </div>

            </div>
           
            
           
        
    </div>
</div>


 </div>
